.Card {
  margin: 10px;
  padding: 5px;
  /*background-color: rgba(255, 255, 255, 0.7);*/
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.inline {
  display:inline;
}

.value {
  padding-top: 40px;
  padding-bottom: 24px;
}
